@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.theme-effie {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-neutral-50: #F8F9FA;
    --color-neutral-100: #EDF0F3;
    --color-neutral-200: #E1E7EC;
    --color-neutral-300: #CFD6DE;
    --color-neutral-400: #B8C4CE;
    --color-neutral-500: #A0ADBB;
    --color-neutral-600: #8895A7;
    --color-neutral-700: #667181;
    --color-neutral-800: #434D5A;
    --color-neutral-900: #212934;

    --color-primary-50: #EEEAFF;
    --color-primary-100: #D4CDF2;
    --color-primary-200: #B9AFE6;
    --color-primary-300: #9F92D9;
    --color-primary-400: #8474CC;
    --color-primary-500: #7766C6;
    --color-primary-600: #6C5BBA;
    --color-primary-700: #6150AD;
    --color-primary-800: #5545A1;
    --color-primary-900: #4A3A94;

    --color-secondary-50: #FFEEF3;
    --color-secondary-200: #FCCFDB;
    --color-secondary-500: #F9B0C3;
    --color-secondary-700: #C86D85;
    --color-secondary-900: #962A46;

    --color-tertiary-50: #FFF2CD;
    --color-tertiary-200: #FFDA70;
    --color-tertiary-500: #FFC212;
    --color-tertiary-700: #BE9009;
    --color-tertiary-900: #7D5D00;
}

.theme-classic-light {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-neutral-50: #F8F9FA;
    --color-neutral-100: #EDF0F3;
    --color-neutral-200: #E1E7EC;
    --color-neutral-300: #CFD6DE;
    --color-neutral-400: #B8C4CE;
    --color-neutral-500: #A0ADBB;
    --color-neutral-600: #8895A7;
    --color-neutral-700: #667181;
    --color-neutral-800: #434D5A;
    --color-neutral-900: #212934;

    --color-primary-50: #F8F9FA;
    --color-primary-100: #EDF0F3;
    --color-primary-200: #E1E7EC;
    --color-primary-300: #CFD6DE;
    --color-primary-400: #B8C4CE;
    --color-primary-500: #A0ADBB;
    --color-primary-600: #8895A7;
    --color-primary-700: #667181;
    --color-primary-800: #434D5A;
    --color-primary-900: #212934;

    --color-secondary-50: #FFEEF3;
    --color-secondary-200: #FCCFDB;
    --color-secondary-500: #F9B0C3;
    --color-secondary-700: #C86D85;
    --color-secondary-900: #962A46;

    --color-tertiary-50: #FFF2CD;
    --color-tertiary-200: #FFDA70;
    --color-tertiary-500: #FFC212;
    --color-tertiary-700: #BE9009;
    --color-tertiary-900: #7D5D00;
}

.theme-classic-dark {
    --color-primary: #166534;
    --color-secondary: #bbf7d0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: var(--poppins);
    scrollbar-color: #7766C6 #D4CDF2;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: #D4CDF2;
}

body::-webkit-scrollbar-thumb {
    background-color: #7766C6;
}

/* UNDERLINE ANIMATION */
.un {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 0px;
    transition: 0.2s;
}

.un:hover {
    text-underline-offset: 2px;
}

/* COPY ICON HOVER */
.copy-icon:hover .copy-path {
    @apply fill-neutral-800 duration-200;
}

/* INPUT */
.input {
    @apply bg-neutral-100 px-3 py-2 rounded-md text-neutral-900 placeholder:text-neutral-400;
}

.no-scroll {
    overflow: hidden;
}
