/* text.css */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 700;
}

a, p, input {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

button, th, td {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  
  h5 {
    font-size: 16px;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
  }
}