/* CONVERT HEX TO RGB */
:root {
    --tw-bg-opacity: 1;
}

.theme-effie {
    /* --color-black: #000000;
    --color-white: #FFFFFF;

    --color-neutral-50: #F8F9FA;
    --color-neutral-100: #EDF0F3;
    --color-neutral-200: #E1E7EC;
    --color-neutral-300: #CFD6DE;
    --color-neutral-400: #B8C4CE;
    --color-neutral-500: #A0ADBB;
    --color-neutral-600: #8895A7;
    --color-neutral-700: #667181;
    --color-neutral-800: #434D5A;
    --color-neutral-900: #212934;

    --color-primary-50: #EEEAFF;
    --color-primary-100: #D4CDF2;
    --color-primary-200: #B9AFE6;
    --color-primary-300: #9F92D9;
    --color-primary-400: #8474CC;
    --color-primary-500: #7766C6;
    --color-primary-600: #6C5BBA;
    --color-primary-700: #6150AD;
    --color-primary-800: #5545A1;
    --color-primary-900: #4A3A94;

    --color-secondary-50: #FFEEF3;
    --color-secondary-200: #FCCFDB;
    --color-secondary-500: #F9B0C3;
    --color-secondary-700: #C86D85;
    --color-secondary-900: #962A46;

    --color-tertiary-50: #FFF2CD;
    --color-tertiary-200: #FFDA70;
    --color-tertiary-500: #FFC212;
    --color-tertiary-700: #BE9009;
    --color-tertiary-900: #7D5D00; */

    /* danger: {
        50: "#F8E5E5",
        100: "#F3A9A9",
        200: "#E46464",
        300: "#DA3030",
        400: "#B72020",
        500: "#881B1B",
        600: "#601818",
    },
    warning: {
        50: "#FFFCF4",
        100: "#FDF3D7",
        200: "#FAE29F",
        300: "#F4CA64",
        400: "#CAA53D",
        500: "#8C6D1F",
        600: "#5C4813",
    },
    success: {
        50: "#E3FCEC",
        100: "#A8EEC1",
        200: "#74D99F",
        300: "#38C172",
        400: "#259D58",
        500: "#197741",
        600: "#155239",
    },
    info: {
        50: "#EFF8FF",
        100: "#AAD4F5",
        200: "#63A2D8",
        300: "#3183C8",
        400: "#2368A2",
        500: "#1A4971",
        600: "#203D54", */

    --color-black: 0, 0, 0;
    --color-white: 255, 255, 255;

    --color-neutral-50: 248, 249, 250;
    --color-neutral-100: 237, 240, 243;
    --color-neutral-200: 225, 231, 236;
    --color-neutral-300: 207, 214, 222;
    --color-neutral-400: 184, 196, 206;
    --color-neutral-500: 160, 173, 187;
    --color-neutral-600: 136, 149, 167;
    --color-neutral-700: 102, 113, 129;
    --color-neutral-800: 67, 77, 90;
    --color-neutral-900: 33, 41, 52;

    --color-primary-50: 238, 234, 255;
    --color-primary-100: 212, 205, 242;
    --color-primary-200: 185, 175, 229;
    --color-primary-300: 159, 146, 216;
    --color-primary-400: 132, 116, 203;
    --color-primary-500: 119, 102, 198;
    --color-primary-600: 108, 91, 186;
    --color-primary-700: 97, 80, 173;
    --color-primary-800: 86, 69, 161;
    --color-primary-900: 75, 58, 148;

    --color-secondary-50: 255, 238, 243;
    --color-secondary-200: 252, 207, 219;
    --color-secondary-500: 249, 176, 195;
    --color-secondary-700: 200, 109, 133;
    --color-secondary-900: 150, 42, 71;

    --color-tertiary-50: 255, 242, 205;
    --color-tertiary-200: 255, 218, 112;
    --color-tertiary-500: 255, 194, 18;
    --color-tertiary-700: 190, 144, 9;
    --color-tertiary-900: 125, 94, 0;

    --color-danger-50: 248, 229, 229;
    --color-danger-100: 243, 169, 169;
    --color-danger-200: 228, 100, 100;
    --color-danger-300: 218, 48, 48;
    --color-danger-400: 183, 32, 32;
    --color-danger-500: 136, 27, 27;
    --color-danger-600: 96, 24, 24;

    --color-warning-50: 255, 252, 244;
    --color-warning-100: 253, 243, 215;
    --color-warning-200: 250, 226, 159;
    --color-warning-300: 244, 202, 100;
    --color-warning-400: 202, 165, 61;
    --color-warning-500: 140, 109, 31;
    --color-warning-600: 92, 72, 19;

    --color-success-50: 227, 252, 236;
    --color-success-100: 168, 238, 193;
    --color-success-200: 116, 217, 159;
    --color-success-300: 56, 193, 114;
    --color-success-400: 37, 157, 88;
    --color-success-500: 25, 119, 65;
    --color-success-600: 21, 83, 52;

    --color-info-50: 239, 248, 255;
    --color-info-100: 170, 212, 245;
    --color-info-200: 99, 162, 216;
    --color-info-300: 49, 131, 206;
    --color-info-400: 35, 104, 162;
    --color-info-500: 26, 73, 115;
    --color-info-600: 32, 61, 84;
}

.theme-classic-light {
    /* --color-black: #000000;
    --color-white: #FFFFFF;

    --color-neutral-50: #F8F9FA;
    --color-neutral-100: #EDF0F3;
    --color-neutral-200: #E1E7EC;
    --color-neutral-300: #CFD6DE;
    --color-neutral-400: #B8C4CE;
    --color-neutral-500: #A0ADBB;
    --color-neutral-600: #8895A7;
    --color-neutral-700: #667181;
    --color-neutral-800: #434D5A;
    --color-neutral-900: #212934;

    --color-primary-50: #CFD6DE;
    --color-primary-100: #A0ADBB;
    --color-primary-200: #A0ADBB;
    --color-primary-300: #A0ADBB;
    --color-primary-400: #667181;
    --color-primary-500: #667181;
    --color-primary-600: #434D5A;
    --color-primary-700: #434D5A;
    --color-primary-800: #212934;
    --color-primary-900: #212934;

    --color-secondary-50: #CFD6DE;
    --color-secondary-200: #A0ADBB;
    --color-secondary-500: #667181;
    --color-secondary-700: #434D5A;
    --color-secondary-900: #212934;

    --color-tertiary-50: #CFD6DE;
    --color-tertiary-200: #A0ADBB;
    --color-tertiary-500: #667181;
    --color-tertiary-700: #434D5A;
    --color-tertiary-900: #212934; */

    --color-black: 0, 0, 0;
    --color-white: 255, 255, 255;

    --color-neutral-50: 248, 249, 250;
    --color-neutral-100: 237, 240, 243;
    --color-neutral-200: 225, 231, 236;
    --color-neutral-300: 207, 214, 222;
    --color-neutral-400: 184, 196, 206;
    --color-neutral-500: 160, 173, 187;
    --color-neutral-600: 136, 149, 167;
    --color-neutral-700: 102, 113, 129;
    --color-neutral-800: 67, 77, 90;
    --color-neutral-900: 33, 41, 52;

    --color-primary-50: 207, 214, 222;
    --color-primary-100: 160, 173, 187;
    --color-primary-200: 160, 173, 187;
    --color-primary-300: 160, 173, 187;
    --color-primary-400: 102, 113, 129;
    --color-primary-500: 102, 113, 129;
    --color-primary-600: 67, 77, 90;
    --color-primary-700: 67, 77, 90;
    --color-primary-800: 33, 41, 52;
    --color-primary-900: 33, 41, 52;

    --color-secondary-50: 207, 214, 222;
    --color-secondary-200: 160, 173, 187;
    --color-secondary-500: 102, 113, 129;
    --color-secondary-700: 67, 77, 90;
    --color-secondary-900: 33, 41, 52;

    --color-tertiary-50: 207, 214, 222;
    --color-tertiary-200: 160, 173, 187;
    --color-tertiary-500: 102, 113, 129;
    --color-tertiary-700: 67, 77, 90;
    --color-tertiary-900: 33, 41, 52;
    
    --color-danger-50: 248, 229, 229;
    --color-danger-100: 243, 169, 169;
    --color-danger-200: 228, 100, 100;
    --color-danger-300: 218, 48, 48;
    --color-danger-400: 183, 32, 32;
    --color-danger-500: 136, 27, 27;
    --color-danger-600: 96, 24, 24;

    --color-warning-50: 255, 252, 244;
    --color-warning-100: 253, 243, 215;
    --color-warning-200: 250, 226, 159;
    --color-warning-300: 244, 202, 100;
    --color-warning-400: 202, 165, 61;
    --color-warning-500: 140, 109, 31;
    --color-warning-600: 92, 72, 19;

    --color-success-50: 227, 252, 236;
    --color-success-100: 168, 238, 193;
    --color-success-200: 116, 217, 159;
    --color-success-300: 56, 193, 114;
    --color-success-400: 37, 157, 88;
    --color-success-500: 25, 119, 65;
    --color-success-600: 21, 83, 52;

    --color-info-50: 239, 248, 255;
    --color-info-100: 170, 212, 245;
    --color-info-200: 99, 162, 216;
    --color-info-300: 49, 131, 206;
    --color-info-400: 35, 104, 162;
    --color-info-500: 26, 73, 115;
    --color-info-600: 32, 61, 84;
}

.theme-classic-dark {
    /* --color-black: #FFFFFF;
    --color-white: #1A1F29;

    --color-neutral-50: #212934;
    --color-neutral-100: #434D5A;
    --color-neutral-200: #667181;
    --color-neutral-300: #8895A7;
    --color-neutral-400: #A0ADBB;
    --color-neutral-500: #B8C4CE;
    --color-neutral-600: #CFD6DE;
    --color-neutral-700: #E1E7EC;
    --color-neutral-800: #EDF0F3;
    --color-neutral-900: #F8F9FA;

    --color-primary-50: #212934;
    --color-primary-100: #212934;
    --color-primary-200: #434D5A;
    --color-primary-300: #434D5A;
    --color-primary-400: #667181;
    --color-primary-500: #667181;
    --color-primary-600: #8895A7;
    --color-primary-700: #8895A7;
    --color-primary-800: #A0ADBB;
    --color-primary-900: #CFD6DE;

    --color-secondary-50: #CFD6DE;
    --color-secondary-200: #A0ADBB;
    --color-secondary-500: #667181;
    --color-secondary-700: #434D5A;
    --color-secondary-900: #212934;

    --color-tertiary-50: #CFD6DE;
    --color-tertiary-200: #A0ADBB;
    --color-tertiary-500: #667181;
    --color-tertiary-700: #434D5A;
    --color-tertiary-900: #212934; */

    --color-black: 255, 255, 255;
    --color-white: 26, 31, 41;

    --color-neutral-50: 33, 41, 52;
    --color-neutral-100: 67, 77, 90;
    --color-neutral-200: 102, 113, 129;
    --color-neutral-300: 136, 149, 167;
    --color-neutral-400: 160, 173, 187;
    --color-neutral-500: 184, 196, 206;
    --color-neutral-600: 207, 214, 222;
    --color-neutral-700: 225, 231, 236;
    --color-neutral-800: 237, 240, 243;
    --color-neutral-900: 248, 249, 250;

    --color-primary-50: 67, 77, 90;
    --color-primary-100: 67, 77, 90;
    --color-primary-200: 102, 113, 129;
    --color-primary-300: 102, 113, 129;
    --color-primary-400: 136, 149, 167;
    --color-primary-500: 136, 149, 167;
    --color-primary-600: 136, 149, 167;
    --color-primary-700: 160, 173, 187;
    --color-primary-800: 160, 173, 187;
    --color-primary-900: 207, 214, 222;

    --color-secondary-50: 207, 214, 222;
    --color-secondary-200: 160, 173, 187;
    --color-secondary-500: 102, 113, 129;
    --color-secondary-700: 67, 77, 90;
    --color-secondary-900: 33, 41, 52;

    --color-tertiary-50: 207, 214, 222;
    --color-tertiary-200: 160, 173, 187;
    --color-tertiary-500: 102, 113, 129;
    --color-tertiary-700: 67, 77, 90;
    --color-tertiary-900: 33, 41, 52;

    --color-danger-50: 77, 7, 7;
    --color-danger-100: 136, 27, 27;
    --color-danger-200: 183, 32, 32;
    --color-danger-300: 218, 48, 48;
    --color-danger-400: 228, 100, 100;
    --color-danger-500: 243, 169, 169;
    --color-danger-600: 248, 229, 229;

    --color-warning-50: 92, 72, 19;
    --color-warning-100: 140, 109, 31;
    --color-warning-200: 202, 165, 61;
    --color-warning-300: 244, 202, 100;
    --color-warning-400: 250, 226, 159;
    --color-warning-500: 253, 243, 215;
    --color-warning-600: 255, 252, 244;

    --color-success-50: 21, 83, 52;
    --color-success-100: 25, 119, 65;
    --color-success-200: 37, 157, 88;
    --color-success-300: 56, 193, 114;
    --color-success-400: 116, 217, 159;
    --color-success-500: 168, 238, 193;
    --color-success-600: 227, 252, 236;

    --color-info-50: 32, 61, 84;
    --color-info-100: 26, 73, 115;
    --color-info-200: 35, 104, 162;
    --color-info-300: 49, 131, 206;
    --color-info-400: 99, 162, 216;
    --color-info-500: 170, 212, 245;
    --color-info-600: 239, 248, 255;
}
